.accessories
    text-align: center
    padding: 40px 0
    &__link
        display: block
        font-size: 32px
        font-weight: 700
        line-height: 36px
        span
            display: block
        &::after
            content: ""
            width: 70px
            height: 2px
            background-color: #CFCFCF
            display: inline-block
            margin: 30px 0 40px
