.choise 
    padding: 40px 0 20px
    &__text
        margin: 0 auto
        width: 720px
        text-align: center
        &::after
            content: ""
            display: inline-block
            width: 70px
            height: 2px
            background-color: #CFCFCF
            margin-top: 25px
            margin-bottom: 40px
    &--title
        margin-bottom: 17px
        font-weight: 700
        font-size: 32px
        line-height: 36px
    &--subtitle
        font-size: 15px
        line-height: 18px
    &__blocks
        display: flex
        justify-content: space-between
    &__item
        position: relative
        &--lightning
            position: absolute
            top: 220px
            left: 265px
        &--title
            font-size: 25px
            font-weight: 700
            line-height: 30px
            color: #fff
            position: absolute
            top: 280px
            left: 170px
        &--subtitle
            font-size: 18px
            line-height: 23
            color: #fff
            position: absolute
            bottom: 40px
            left: 256px
        